pipeline/pl_procurement_DnA_SPO_src_to_adls.json
{
	"name": "pl_procurement_DnA_SPO_src_to_adls",
	"properties": {
		"activities": [
			{
				"name": "Get_Client_Secret",
				"description": "get client's secret value from Key-vault.\nwill use this secret value to build URL when get SharePoint access token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@{concat(\n    pipeline().parameters.pl_par_KeyVault_URL\n    , '/secrets/'\n    , pipeline().parameters.pl_par_keyVault_SecretsName\n    , '?api-version=7.0'\n)}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get_SPO_Token",
				"description": "For downstream activities access SharePoint site, have to have SharePoint token.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get_Client_Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": {
						"value": "@{concat('https://accounts.accesscontrol.windows.net/'\n,pipeline().parameters.pl_par_Tenant_id\n,'/tokens/OAuth/2'\n)}",
						"type": "Expression"
					},
					"body": {
						"value": "@{concat('grant_type=client_credentials&client_id='\n, pipeline().parameters.pl_par_Client_id\n, '@'\n, pipeline().parameters.pl_par_Tenant_id\n,'&client_secret='\n, activity('Get_Client_Secret').output.value\n, '&resource=00000003-0000-0ff1-ce00-000000000000/infrastructureontario.sharepoint.com@'\n, pipeline().parameters.pl_par_Tenant_id\n)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup_DnA_spo_Sources_array",
				"description": "Generate a array of interest SharePoint items. what items need to ingest then sink to ADLS",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get_SPO_Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SharePointOnlineListSource",
						"httpRequestTimeout": "00:05:00"
					},
					"dataset": {
						"referenceName": "ds_DnA_spo_sources_array",
						"type": "DatasetReference",
						"parameters": {
							"ds_DnA_spoList_Name": {
								"value": "@pipeline().parameters.pl_par_DnA_spoList_name",
								"type": "Expression"
							},
							"ds_par_spo_site": {
								"value": "@pipeline().parameters.pl_par_SPO_site",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"pl_par_Tenant_id": {
				"type": "string",
				"defaultValue": "186a9efb-4fc7-4002-8ce2-7844ce804df5"
			},
			"pl_par_Client_id": {
				"type": "string",
				"defaultValue": "ee0d5326-d204-426c-a1cc-ca06284ab897"
			},
			"pl_par_keyVault_SecretsName": {
				"type": "string",
				"defaultValue": "secret-value"
			},
			"pl_par_KeyVault_URL": {
				"type": "string",
				"defaultValue": "https://kv-lakehouse-sandbox-cc.vault.azure.net"
			},
			"pl_par_SPO_site": {
				"type": "string",
				"defaultValue": "ITDataGovernanceWorkgroup"
			},
			"pl_par_ADLS_dst_Path": {
				"type": "string",
				"defaultValue": "landing/procurementRaw"
			},
			"pl_par_DnA_spoList_name": {
				"type": "string",
				"defaultValue": "Yardi"
			},
			"pl_adls_storage_account": {
				"type": "string",
				"defaultValue": "dlslakehouserawsandboxcc"
			}
		},
		"folder": {
			"name": "IO_procurement"
		},
		"annotations": [
			"lkp_ls: ls_SPO_DnA_http_baseurl",
			"lkp_ds: ds_DnA_spo_sources_array (sharepoint type))",
			"copy_src_ds: ds_spo_src, HTTP binary tye",
			"copy_src_ls: ls_spo_httpServer, http type",
			"copy_dst_ds: ds_adls_dst, adls, binary",
			"copy_dst_ls: ADLS_IO, adls type"
		]
	}
}